// блок с загрузкой приложения
.app-download {
  display: flex;
  flex-direction: column;
  margin-top: -69px;
  background-color: #1d2631;
  background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto, contain;
  background-position-x: left, center;
  background-position-y: 176px, 0;
}

// Заголовок на главной странице
.app-download__header {
  margin: 0;
  padding-right: 40px;
  padding-left: 40px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $white-color;
}

.app-download--header {
  margin-top: 89px;
  margin-bottom: 313px;
}

// кнопка скачать приложение
.app-download__button {
  border: solid 3px $white-color;
  color: $white-color;
}

.app-download--button {
  margin-bottom: 30px;
}

// обертка блока для скачивания
.app-download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 28px;
  padding-bottom: 30px;
  background-color: #1d2631;
}

// обертка для ссылок приложений
.app-download__wrapper-inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 205px;
}

.app-download__wrapper-inner--margin {
  margin-bottom: 19px;
}

// текст о доступности приложений
.app-download__description {
  width: 230px;

  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: $white-color;
}

// модификатор для отступов
.app-download--description {
  margin: 0;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .app-download {
    align-items: flex-start;
    margin-top: -110px;

    background-image: url("../../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto auto, auto auto;
    background-position: center 184px, center 0;
  }

  // обертка приложений
  .app-download__wrapper {
    background-color: transparent;
  }

  // контейнер приложений
  .app-download__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .app-download--container {
    margin-top: 202px;
    margin-left: 20px;
    margin-bottom: 57px;
  }
  // заголовок
  .app-download__header {
    width: 300px;

    font-size: 40px;
    line-height: 48px;
  }

  .app-download--header {
    margin: 0;
    margin-bottom: 2px;
  }

  // кнопка
  .app-download--button {
    width: 300px;
    margin-bottom: 44px;
  }

  // блок с приложениями
  .app-download--wrapper {
    margin-bottom: 34px;
  }

  .app-download__wrapper-inner--margin {
    margin-bottom: 35px;
  }

  // текстовое описание приложений
  .app-download__description {
    width: auto;
  }

  .app-download--description {
    padding: 0;

    font-size: 18px;
    line-height: 24px;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .app-download {
    background-image: url("../../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: auto auto, auto auto;
    background-position: 259px 209px, center 0;
  }

  // контейнер приложений
  .app-download--container {
    margin-top: 219px;
    margin-left: 243px;
    margin-bottom: 57px;
  }

  // заголовок
  .app-download__header {
    width: auto;

    font-size: 50px;
    line-height: 60px;
  }

  .app-download--header {
    margin-bottom: 23px;
  }

  // кнопка
  .app-download__button {
    font-size: 21px;
  }

  .app-download--button {
    margin-bottom: 65px;
  }

  // описание приложения
  .app-download__description {
    width: 300px;
  }

  // обертка приложений внутренняя
  .app-download__wrapper-inner--margin {
    margin-bottom: 53px;
  }
}
