// секция контактов
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 320px;
  margin: 0 auto;
}

// обертка для контактов
.contacts__wrapper {
  display: flex;
  flex-direction: column;

  max-width: 280px;
}

// общий заголовок контактов
.contacts__header {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 300;
  color: $darkblue-color;
}

.contacts__header--margins {
  margin-bottom: 37px;
}

// внутренняя обертка контактов
.contacts__wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 26px;
}

// заголовки типов связей
.contacts__phone-header,
.contacts__mail-header,
.contacts__address-header {
  font-size: 18px;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  color: $darkblue-color;
}

.contacts__phone-header--margins,
.contacts__mail-header--margins,
.contacts__address-header--margins {
  margin: 0;
  margin-bottom: 4px;
}

// контакты
.contacts__phone-number,
.contacts__mail-address,
.contacts__address {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-weight: 300;
  color: $pink-color;
}

.contacts__mail-address {
  &:hover {
    color: $darkblue-color;
    text-decoration: underline;
  }

  &:active {
    color: #ced0d2;
    text-decoration: none;
  }
}
// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .contacts {
    max-width: 660px;
    overflow: hidden;
  }

  .contacts--margins {
    margin-top: 51px;
  }

  // обертка
  .contacts__wrapper {
    max-width: 620px;
  }

  // обертка контактов
  .contacts__container-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  // заголовок
  .contacts__header {
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__header--margins {
    margin-bottom: 43px;
  }

  .contacts__wrapper-inner {
    margin-bottom: 49px;
  }

  .contacts__wrapper-inner:first-of-type {
    margin-left: 49px;
    margin-right: 98px;
  }

  .contacts__wrapper-inner:last-of-type {
    margin-bottom: 28px;
    margin-right: auto;
    margin-left: auto;
  }

  // контакты
  .contacts__phone-header--margins,
  .contacts__mail-header--margins,
  .contacts__address-header--margins {
    margin: 0;
    margin-bottom: 8px;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .contacts {
    max-width: 1200px;
  }

  .contacts__wrapper {
    min-width: 940px;
    max-width: 940px;
  }

  // заголовок
  .contacts__header {
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__header--margins {
    margin-bottom: 59px;
  }

  // обертка контактов
  .contacts__container-inner {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contacts__phone-header--margins,
  .contacts__mail-header--margins,
  .contacts__address-header--margins {
    margin-bottom: 26px;
  }

  .contacts__wrapper-inner {
    margin-bottom: 22px;
  }

  .contacts__wrapper-inner:first-of-type {
    margin-right: 112px;
    margin-left: 48px;

    order: 1;
  }

  .contacts__wrapper-inner:nth-of-type(3) {
    margin-right: 95px;
    order: 2;
    margin-bottom: 22px;
    margin-left: 0;
  }

  .contacts__wrapper-inner:nth-of-type(2) {
    order: 3;
  }
}
