// социальные сети
.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-socials--margin {
  margin-bottom: 40px;
}

.footer-socials__link {
  width: 50px;
  height: 50px;
  margin-right: 13px;

  color: $pink-color;
  border: 3px solid #e9ebec;
  border-radius: 50%;

  &:hover {
    border-color: $darkblue-color;
  }

  &:active {
    border-color: $darkblue-color;
    opacity: 0.1;
  }
}

.footer-socials__link-twitter,
.footer-socials__link-facebook,
.footer-socials__link-youtube {
  fill: $pink-color;
}

// позиционирование свг иконок
.footer-socials__link-twitter {
  position: relative;
  top: 14px;
  left: 16px;
}

.footer-socials__link-facebook {
  position: relative;
  top: 12px;
  left: 18px;
}

.footer-socials__link-youtube {
  position: relative;
  top: 12px;
  left: 15px;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .footer-socials {
    width: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  // социальные кнопки
  .footer-socials--margin {
    margin: 0;
    margin-top: 39px;
  }

  .footer-socials__link-twitter {
    left: 12px;
  }

  .footer-socials__link-facebook {
    left: 15px;
  }

  .footer-socials__link-youtube {
    left: 14px;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .footer-socials--margin {
    margin: 0;
    margin-top: 74px;
    margin-left: 21px;
  }

  .footer-socials__link {
    margin-right: 15px;
  }

  .footer-socials__link-twitter {
    left: 15px;
  }

  .footer-socials__link-facebook {
    left: 17px;
  }

  .footer-socials__link-youtube {
    left: 14px;
  }
}
