// блок формы
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;

  margin: 0 auto;
  border: none;
}

// обнуление браузерных отступов
.form__names,
.form__contacts,
.form__textarea,
.form__radio,
.form__achievement {
  margin: 0;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

// поле имен
.form__names {
  display: flex;
  flex-direction: column;

  width: 276px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;

  border: none;
}

// обертки лейблов имен и контактов
.form__names-label,
.form__contacts-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: $pink-color;
}

.form__names--label {
  margin-bottom: 17px;
}

// лейблы
.form__names-descrition {
  display: flex;
  padding-left: 22px;
  padding-bottom: 5px;
}

// инпуты
.form__names-input,
.form__contacts-input {
  width: 280px;
  height: 63px;
  padding-left: 20px;

  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: $darkblue-color;

  border: solid 2px #e5e5e5;
}

// филдсет контактов и текстареа
.form__contacts,
.form__textarea {
  width: 320px;
  margin: 0;
  padding: 0;

  border: none;
}

.form__contacts-container {
  width: 280px;
  margin: 0 auto;
}

.form__contacts-label {
  display: flex;
  flex-direction: column;

  margin-bottom: 17px;
}

.form__contacts-label:last-of-type {
  margin-bottom: 42px;
}

.form__contacts-description {
  padding-left: 21px;
  padding-bottom: 5px;
}
// текстаера лейбл
.form__textarea-label {
  display: flex;
  justify-content: center;

  width: 280px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 49px;
}

// плейсхолдеры инпутов
.form__names-input::placeholder {
  color: $darkblue-color;
}

// филдсеты достижений и радио
.form__achievement,
.form__radio {
  display: flex;
  flex-direction: column;

  width: 320px;
  padding: 0;
  margin: 0;

  background-color: #f2f2f2;
  border: none;
}

.form__achievement {
  margin-bottom: 32px;
}

.form__achievement-container {
  display: flex;
  flex-direction: column;
}

// радио
.form__radio-label {
  margin-bottom: 44px;
}

.form__radio-label:last-of-type {
  margin-bottom: 48px;
}

// легенды
.form__achievement-legend,
.form__radio-legend,
.form__textarea-description {
  padding-top: 41px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  color: $pink-color;
  background-color: #f2f2f2;
}

.form__achievement-legend {
  padding-bottom: 41px;
}

.form__radio-legend {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 38px;
  margin-bottom: 40px;
}

// блоки лейблов
.form__achievement-label,
.form__radio-label,
.form__textarea-field {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $darkblue-color;
}

.form__achievement-label {
  margin-bottom: 51px;
}

// текстареа
.form__textarea-field {
  width: 280px;
  padding-left: 18px;
  padding-top: 14px;
  padding-right: 26px;

  border: 2px solid #e5e5e5;
}

.form__textarea-description {
  padding-top: 38px;
  margin-bottom: 16px;

  background-color: $white-color;
}


// кнопка формы
.form__button {
  height: 63px;
  margin-bottom: 35px;

  border-radius: 1px;
  background-color: #2aab6d;
  border: none;
  color: $white-color;
  text-transform: uppercase;
}

// подпись об обязательных полях
.form__required {
  display: block;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $darkblue-color;
}

.form__required::before {
  content: "*";
  color: $pink-color;
}

// подтягиваем футер на странице формы
.form--submit {
  margin-bottom: -26px;
}

// прячем легенду контактов
.form__contacts-legend {
  display: none;
}

// прячем сноску
.form__required--desktop {
  display: none;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .form {
    width: 620px;
    margin-bottom: 50px;
  }

  // ордера
  .form__names {
    width: 620px;
    order: 1;
  }

  .form__radio {
    width: 620px;

    order: 2;
    background-color: $white-color;
    border: 2px solid #e5e5e5;
  }

  .form__contacts {
    width: 620px;
    margin-bottom: 57px;

    order: 3;
    border: 2px solid #e5e5e5;
  }

  .form__achievement {
    min-width: 620px;

    order: 4;
    border: 2px solid #e5e5e5;
    background-color: $white-color;
  }

  .form--achievement {
    margin-bottom: 58px;
  }

  .form__textarea {
    width: 620px;

    border: 2px solid #e5e5e5;
    order: 5;
  }

  .form--submit {
    order: 6;
  }

  .form--required {
    order: 7;
  }

  // обертка формы имен
  .form--names {
    padding: 0;
    margin-bottom: 6px;
  }

  // обертки форм имен
  .form__names--label {
    display: flex;
    margin-bottom: 52px;
  }

  .form__names-input {
    flex-grow: 2;
  }

  // подписи к инпутам
  .form__names-descrition {
    align-items: center;
    padding-left: 0;
    padding-right: 18px;
    padding-top: 10px;
  }

  // контакты
  .form__contacts-label {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 24px;
  }

  .form__contacts-label:last-of-type {
    margin-bottom: 21px;
  }

  .form__contacts-description {
    margin-left: 0;
    padding-left: 19px;

    order: 2;
  }

  .form__contacts-input {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;

    order: 1;
  }

  .form__contacts-legend {
    display: block;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 31px;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $pink-color;
  }

  // достижения
  .form__achievement-legend {
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 48px;

    background-color: $white-color;
  }

  .form__achievement-label {
    margin-bottom: 52px;
  }

  // текстареа
  .form--textarea {
    margin-bottom: 67px;
  }

  .form__textarea-label {
    flex-direction: column;
    flex-wrap: nowrap;

    width: 500px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .form__textarea-field {
    width: 500px;
    height: 193px;

    padding: 20px;
    padding-top: 14px;
    padding-left: 19px;
  }

  .form__textarea-description {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    margin-bottom: 33px;
    padding: 0;
    padding-right: 38px;
    padding-left: 38px;

    background-color: $white-color;
  }

  // радио
  .form--radio {
    margin-bottom: 51px;
  }

  .form__radio-legend {
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 48px;

    background-color: $white-color;
  }

  .form__radio-label:last-of-type {
    margin-bottom: 61px;
  }

  // контакты
  .form__contacts-container {
    width: 500px;
  }

  // отправка формы
  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 620px;
    margin: 0 auto;
  }

  // кнопка отправки
  .form__button {
    width: 300px;
    margin-bottom: 0;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 940px;
  }

  // имена
  .form__names {
    max-width: 433px;
    margin: 0;
  }

  .form--names {
    margin-top: 14px;
  }

  // контейнер контактов
  .form__contacts-container {
    display: flex;
    justify-content: space-between;
    width: 820px;
    height: 177px;

    margin: 0 auto;
  }

  .form--contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    min-width: 940px;
    height: 177px;
    margin: 0;
    margin-bottom: 57px;
  }

  .form__contacts-legend {
    margin-bottom: 6px;
  }

  .form__contacts-input {
    width: 373px;
  }

  // радио
  .form__radio {
    width: 435px;
    max-width: 435px;
    height: 309px;
    margin: 0;
  }

  // достижения
  .form__achievement {
    min-width: 940px;
    height: 240px;
    margin: 0 auto;
  }

  .form--achievement {
    margin-bottom: 57px;
  }

  .form__achievement-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 820px;
    margin: 0 auto;
  }

  .form__achievement-label {
    margin-right: 60px;
  }

  // текстареа
  .form__textarea {
    height: 225px;
  }

  .form--textarea {
    min-width: 940px;

    margin: 0;
    padding: 0;
    margin-bottom: 65px;
  }

  .form__textarea-description {
    margin-bottom: -2px;
  }

  .form__textarea-label {
    width: 820px;
    margin: 0 auto;
  }

  .form__textarea-field {
    min-width: 820px;
    height: 128px;
  }

  // отправка
  .form__submit {
    min-width: 940px;
    margin: 0;
  }

  // обязательные поля
  .form__required {
    display: none;
  }

  // текст для дестопа
  .form__required--desktop {
    display: block;

    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $darkblue-color;
  }

  .form__required--desktop::before {
    content: "*";
    color: $pink-color;
  }
}
