.main-nav__list {
  display: flex;
  flex-direction: column;
  @include list-reset;
}

.main-nav__item {

  width: 320px;
  height: 63px;

  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;


  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 -1px 0 0 #000000;
}

.main-nav__item:last-child {
  border-bottom: 1px solid #000000;
}


.main-nav__item a {
  color: #ffffff;
}
