.main-nav {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: $darkblue-color;
}

// прячем форму на мобильном и планшете
.main-nav__visually-hidden {
  display: none;
}

.main-nav__wrapper {
  position: relative;
  display: block;
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 63px;

  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 -1px 0 0 #000000;
}

.main-nav__item:last-child {
  border-bottom: 1px solid #000000;
}


.main-nav__item a {
  color: $white-color;

  &:hover {
    color: $pink-color;
  }

  &:active {
    color: $pink-color;
    opacity: 0.3;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;

    width: auto;

    background-color: transparent;
  }

  .main-nav__wrapper {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
  }

  .main-nav__list {
    min-width: 651px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__item {
    position: relative;
    max-width: 132px;

    line-height: 18px;
    font-weight: 400;
    text-transform: none;

    border: none;
    box-shadow: none;
  }

  .main-nav__item:last-child {
    margin-right: 0;

    border: none;
  }

  .main-nav__item--active::after {
    content: "";
    position: absolute;
    top: 54px;
    width: 107px;
    height: 2px;
    background-color: $white-color;
  }

  .main-nav__item a {
    &:active {
      color: $white-color;
      opacity: 0.3;
    }
  }
}
