.menu {
  padding: 0;
  margin-right: 20px;
  margin-top: 21px;
  margin-bottom: 21px;

  background-color: transparent;
  border: none;

  fill: $white-color;

  &:hover {
    fill: $pink-color;
  }

  &:active {
    fill: $pink-color;
    opacity: 0.3;
  }
}

// иконки закрытия/открытия
.menu__open--js,
.menu__close--js {
  display: none;
}

// прячем при отключенном js
.menu__hidden {
  display: none;
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .menu {
    display: none;
  }
}
