// футер
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: $white-color;
}

.page-footer--margins {
  // временно для сетки
  margin-top: 81px;

  margin-bottom: 40px;
}

// логотип
.page-footer__logo {
  margin-bottom: 36px;
}

// прячем футер на главной для мобильной
.page-footer--main {
  display: none;
}

// прячем лого для десктопа
.page-footer__logo-image--desktop {
  display: none;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 620px;
    height: 127px;

    margin-right: auto;
    margin-left: auto;
  }

  // показываем футер на главной
  .page-footer--main {
    display: flex;

    max-width: 620px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: 35px;
    margin-right: 75px;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .page-footer {
    max-width: 940px;
    margin: 0 auto;
  }

  // прячем лого мобильного
  .page-footer__logo-image {
    display: none;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: 19px;
    margin-right: 239px;
  }

  // лого десктопа
  .page-footer__logo-image--desktop {
    display: flex;
  }
}
