// шапка страницы
.page-header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-height: 69px;

  background-color: $darkblue-color;
  z-index: 2;
}

// фоновый цвет при открытом меню
.page-header--background-js {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
  width: 75px;
  max-height: 23px;
  margin-left: 20px;
  margin-top: 21px;
  margin-bottom: 25px;

  overflow: hidden;
  fill: $white-color;

  &:hover {
    fill: $pink-color;
  }

  &:active {
    fill: $white-color;
    opacity: 0.3;
  }
}

.page-header__logo-image {
  width: 75px;
  height: 25px;

  transform: none;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 110px;
  }

  .page-header__logo {
    width: 147px;
    max-height: 41px;
    margin-left: 20px;
    margin-top: 28px;
    margin-bottom: 42px;
  }

  .page-header__logo-image {
    width: 147px;
    height: 241px;

    transform: translateY(-50px);
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    padding-right: 130px;
    padding-left: 130px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo {
    margin: 0;
    max-height: 55px;
  }

  .page-header__logo-image {
    height: 450px;
    transform: translateY(-101px);
  }
}
