// шапка страницы
.page-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 69px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: transparent;
  z-index: 2;
}

// скрытый логотип для планшета
.page-header__logo-image--tablet {
  display: none;
}

// скрытый логотип для десктопа
.page-header__logo-image--desktop {
  display: none;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 110px;
  }

  // логотип
  .page-header__logo-image--tablet {
    display: block;
    margin-top: -20px;
  }

  // прячем мобильный
  .page-header__logo-image {
    display: none;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 1200px;
    padding-right: 130px;
    padding-left: 130px;
    margin: 0 auto;
  }

  // прячем лого планшета
  .page-header__logo-image--tablet {
    display: none;
  }

  // логотип для десктопа
  .page-header__logo-image--desktop {
    display: flex;
    margin-top: -15px;
  }
}
