// секция формы
.page-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

// хедер на странице формы
.page-form__header {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: $white-color;

  background-color: $darkblue-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.page-form--header {
  margin: 0;
  margin-top: -71px;
  padding-top: 95px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 54px;
}

// слоган на странице формы
.page-form__slogan {
  display: flex;
  justify-content: center;
  width: 275px;

  margin: 0 auto;

  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: $darkblue-color;
}

.page-form--slogan {
  margin-top: 45px;
  margin-bottom: 34px;
}

// прячем нижнюю подпись слогана
.page-form__slogan-tablet {
  display: none;
}

// прячем слогана для десктопа
.page-form__slogan--desktop {
  display: none;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  // заголовок главный
  .page-form--header {
    margin-top: -115px;
    padding-top: 180px;
    padding-bottom: 80px;

    font-size: 50px;
    line-height: 60px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position-x: center;
  }


  // слоган
  .page-form__slogan {
    width: 500px;

    font-size: 18px;
  }

  .page-form--slogan {
    margin-bottom: 0;
    margin-top: 92px;
  }

  // показываем нижнюю часть подписи
  .page-form__slogan-tablet {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: $darkblue-color;
  }

  .page-form__slogan--tablet {
    margin-bottom: 71px;
  }
}
// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .page-form {
    position: relative;
  }

  .page-form__header {
    margin-top: -110px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position-x: center;
  }

  .page-form--header {
    display: flex;
    justify-content: center;

    padding-top: 177px;
    padding-right: 200px;
    padding-left: 200px;
    padding-bottom: 101px;
  }

  // слоган
  .page-form__slogan,
  .page-form__slogan--tablet {
    display: none;
  }

  .page-form__slogan--desktop {
    display: block;
    width: 760px;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 70px;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: $darkblue-color;
  }
}

// АДАПТАЦИЯ ГРАФИКИ

// мобильная
@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .page-form__header {
    background-image: url("../../img/bg-back-mobile@2x.jpg");
  }
}

// планшет
@media (min-width: $tablet-width) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-form__header {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

// десктоп
@media (min-width: $desktop-width) {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .page-form__header {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}
