// блок с тарифами
.rates {
  display: flex;
  flex-direction: column;

  max-width: 660px;
  margin-bottom: 42px;

  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: linear-gradient(-4deg, #f2f2f2 95%, $white-color 95%);
}

// обертка всех тарифов
.rates__container {
  display: flex;
  justify-content: center;

  max-width: 660px;
  margin-top: 91px;

  background-color: $white-color;
  overflow: hidden;
}

// обертка тарифа
.rates__wrapper {
  display: flex;
  flex-direction: column;

  min-width: 278px;
  max-width: 278px;
  margin: 0;

  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}

// блок заголовка тарифа
.rates__header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 98px;

  background-color: $darkblue-color;
}

// заголовок
.rates__title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  color: $white-color;
}

// цена
.rates__price {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  text-align: center;
  font-weight: 300;
  color: $white-color;
}

// обертка элементов списка
.rates__item-wrapper {
  display: flex;
  justify-content: space-between;

  min-width: 278px;
  height: 61px;
  padding-right: 18px;
  padding-left: 22px;

  border-bottom: 2px solid #f2f2f2;
}

// список фишек
.rates__list {
  display: flex;
  flex-direction: column;

  @include list-reset;
}

// элемент списка
.rates__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 61px;

  margin-left: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
  color: $darkblue-color;
}

// плашка с хитом
.rates__hit {
  position: absolute;
  top: 16px;
  left: 9px;

  display: block;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: $white-color;
  transform: rotate(-45deg);
}

// обертка кнопок слайдера
.rates__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60px;
  height: 99px;

  margin: 0 auto;
}

// прячем панель для планшета
.rates__item-wrapper--tablet {
  display: none;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  // общие
  .rates {
    max-width: 660px;
    margin: 0 auto;
    margin-bottom: 45px;

    background-image: linear-gradient(-4.3deg, #f2f2f2 88.4%, #ffffff 86%);
  }

  .rates__container {
    max-width: 620px;
    margin-top: 87px;
    margin-bottom: 68px;
    margin-right: auto;
    margin-left: auto;
  }

  .rates__wrapper {
    min-width: 154px;
    max-width: 154px;
  }

  .rates__wrapper:last-of-type .rates__item-wrapper {
    border-right: 3px solid #f2f2f2;
  }

  // хедер тарифа
  .rates__header {
    height: 79px;
  }

  .rates__title {
    font-size: 16px;
  }

  .rates__price {
    font-size: 18px;
  }

  .rates__hit {
    top: 8px;
    left: 5px;
  }

  // обертка
  .rates__item-wrapper {
    justify-content: center;
    align-items: center;

    min-width: 154px;
    max-width: 154px;
    height: 47px;
  }

  .rates__list-item:first-of-type {
    display: none;
  }

  // прячем кнопки слайдера
  .rates__button-wrapper {
    display: none;
  }

  // показываем панель для планшета
  .rates__item-wrapper--tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 278px;
    margin: 0;

    background-color: #f2f2f2;
  }

  .rates__list-item--tablet {
    display: flex;
    align-items: center;

    height: 47px;
    min-width: 156px;
    margin-left: 0;
    padding-left: 15px;

    font-size: 14px;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
    text-transform: none;
    color: $darkblue-color;

    border: 1px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    background-color: #ffffff;
  }

  .rates__list-item--tablet:first-of-type {
    border-top: 2px solid #f2f2f2;
  }

  .rates__list-item--tablet:last-of-type {
    border-bottom: 2px solid #f2f2f2;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  // общие
  .rates {
    max-width: 1200px;
    margin-bottom: 64px;

    background-color: #f2f2f2;
    background-image: linear-gradient(-3.9deg, #f2f2f2 87.6%, $white-color 87.6%);
  }

  .rates__container {
    max-width: 940px;
    margin-top: 141px;
    margin-bottom: 98px;
  }

  // обертки столбцов
  .rates__wrapper {
    min-width: 233px;
    max-width: 233px;
  }

  // заголовки тарифа
  .rates__header {
    height: 98px;
  }

  .rates__title {
    font-size: 18px;
    line-height: 30px;
  }

  .rates__price {
    font-size: 24px;
    line-height: 30px;
  }

  .rates__hit {
    top: 16px;
    left: 7px;
  }

  // элементы списка
  .rates__item-wrapper {
    min-width: 235px;
    max-width: 235px;
    height: 60px;
  }

  .rates__list-item--tablet {
    height: 60px;
    padding-left: 21px;

    font-size: 18px;
    line-height: 30px;
  }
}
