.reviews__cite {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.reviews__blockquote {
  font-style: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #283645;
}
