// блок загрузки фотографий
.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  background-color: #f2f2f2;
}

// слоган
.uploader__slogan {
  width: 100%;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $darkblue-color;

  background-color: $white-color;
}

.uploader--slogan {
  padding-bottom: 42px;
  padding-top: 23px;
  margin-bottom: 20px;
}

// обертка формы
.uploader__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 41px;
}

// фото формы
.uploader--photo {
  // временно
  margin-bottom: 200px;
}

// кнопки формы
.uploader__button-submit {
  color: $pink-color;
  border: 3px solid $pink-color;
}

.uploader--button-submit {
  margin-bottom: 12px;
}

.uploader__button-reset {
  color: $darkblue-color;
  border: 3px solid $darkblue-color;
  opacity: 0.1;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  // обертка формы
  .uploader__form {
    flex-direction: row;
    justify-content: space-between;

    width: 620px;
    margin-bottom: 79px;
  }

  // обертка инструментов и кнопок
  .uploader__wrapper {
    display: flex;
    flex-direction: column;
  }

  // слоган
  .uploader__slogan {
    font-size: 18px;
  }

  .uploader--slogan {
    margin-bottom: 57px;
    padding-bottom: 69px;
    padding-top: 46px;
  }

  // фото
  .uploader__photo {
    width: 300px;
    height: 400px;
  }

  .uploader--photo {
    // временно
    margin-bottom: 0;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .uploader {
    max-width: 940px;
    margin-bottom: 28px;
  }

  .uploader__form {
    width: 820px;
    margin-left: 100px;
    margin-right: 60px;
    margin-bottom: 57px;
  }

  .uploader--slogan {
    margin-bottom: 57px;
    padding-bottom: 66px;
    padding-top: 5px;
  }
}
