// блок загрузки фотографий
.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  background-color: #f2f2f2;
}

// слоган
.uploader__slogan {
  width: 100%;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $darkblue-color;

  background-color: $white-color;
}

.uploader__slogan--margins {
  padding-bottom: 42px;
  padding-top: 23px;
  margin-bottom: 20px;
}

// обертка формы
.uploader__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 41px;
}

// отступ у фото
.uploader__picture {
  font-size: 0;
}
// обертка инструментов
.uploader__list {
  @include list-reset;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 240px;
  margin: 0 auto;
  margin-bottom: 93px;
}

.uploader__list-item {
  display: inline-block;
  width: 60px;
  margin-right: -17px;
}

// прячем ренджи
.uploader__list-item:nth-child(n+2) .uploader__range {
  display: none;
}

// инструменты формы
.uploader__tool {
  display: inline-block;

  width: 44px;
  height: 44px;

  cursor: pointer;
}

.uploader__tool-image {
  width: 44px;
  height: 44px;

  fill: $darkblue-color;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    fill: $pink-color;
    opacity: 1;
  }
}

// range
.uploader__range {
  position: relative;
  top: 23px;
  left: -19px;

  display: inline-block;
  width: 240px;
  height: 2px;

  background-color: #000000;
}

.uploader__toddle {
  position: absolute;
  top: -6px;
  left: 79.5%;

  content: "";
  width: 15px;
  height: 15px;
  border: 3px solid $pink-color;
  border-radius: 50%;
  background-color: #f2f2f2;

  cursor: pointer;
  z-index: 2;
}

// фото формы
.uploader__photo--margins {
  // временно
  margin-bottom: 42px;
}

// кнопки формы
.uploader__button-submit {
  color: $pink-color;
  border: 3px solid $pink-color;
  background-color: transparent;

  &:hover {
    color: $white-color;
    background-color: $pink-color;
  }

  &:active {
    color: #d78195;
    background-color: $pink-color;
  }
}

.uploader__button-submit--margins {
  margin-bottom: 12px;
}

.uploader__button-reset {
  color: $darkblue-color;
  border: 3px solid $darkblue-color;
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    color: #cdd0d3;
    background-color: #b5b9be;
    border-color: #b5b9be;
    opacity: 1;
  }
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  // обертка формы
  .uploader__form {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 620px;
    margin-bottom: 54px;
  }

  // обертка инструментов и кнопок
  .uploader__wrapper {
    display: flex;
    flex-direction: column;

    margin-right: 13px;
  }

  // слоган
  .uploader__slogan {
    font-size: 18px;
  }

  .uploader__slogan--margins {
    margin-bottom: 57px;
    padding-bottom: 68px;
    padding-top: 46px;
  }

  // фото
  .uploader__photo {
    width: 300px;
    height: 400px;
  }

  .uploader__photo--margins {
    // временно
    margin-bottom: 0;
  }

  // фильтр
  .uploader__list {
    flex-direction: column;

    width: 260px;
    margin-bottom: 50px;
  }

  .uploader__list-item {
    margin-top: 5px;
    margin-bottom: 23px;
  }

  // инструменты фильтры
  .uploader__tool {
    width: 270px;
    border-bottom: 1px solid #dddfe0;
  }

  .uploader__tool-image {
    width: 25px;
    height: 25px;

    fill: $pink-color;
    opacity: 1;

    &:hover {
      fill: $darkblue-color;
      opacity: 0.5;
    }
  }

  .uploader__range {
    position: absolute;
    top: 19px;
    left: 53px;

    width: 202px;
  }

  // показываем ренджи
  .uploader__list-item:nth-child(n+2) .uploader__range {
    display: inline-block;
  }

  .uploader__list-item:nth-of-type(2) .uploader__range {
    top: 92px;
  }

  .uploader__list-item:nth-of-type(3) .uploader__range {
    top: 162px;
  }

  // кнопки формы
  .uploader__button-submit,
  .uploader__button-reset {
    width: 260px;
  }

  .uploader__button-submit--margins {
    margin-bottom: 24px;
  }

  .uploader__list-item:nth-of-type(1) .uploader__toddle {
    left: 72.5%;
  }

  .uploader__list-item:nth-of-type(2) .uploader__toddle {
    left: 12%;
  }

  .uploader__list-item:nth-of-type(3) .uploader__toddle {
    left: 47.5%;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .uploader {
    max-width: 940px;
    margin-bottom: 28px;
  }

  .uploader__form {
    width: 820px;
    margin-left: 100px;
    margin-right: 60px;
    margin-bottom: 33px;
  }

  .uploader__slogan--margins {
    margin-bottom: 57px;
    padding-bottom: 66px;
    padding-top: 5px;
  }

  // инструменты формы
  .uploader__wrapper {
    flex-direction: row;
    flex-wrap: wrap;

    width: 410px;
    margin-right: 20px;
  }

  .uploader__list {
    display: flex;
    flex-direction: column;

    margin-left: 0;
    margin-bottom: 129px;
  }

  .uploader__list-item {
    width: 410px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddfe0;
  }

  .uploader__tool {
    border-bottom: none;
  }

  .uploader__tool-image {
    width: 48px;
    height: 48px;
  }

  .uploader__range {
    top: 19px;
    left: 92px;
    width: 288px;
  }

  .uploader__list-item:nth-child(2) .uploader__range {
    top: 92px;
  }

  .uploader__list-item:nth-child(3) .uploader__range {
    top: 162px;
  }

  .uploader__button-submit,
  .uploader__button-reset {
    width: 183px;
    border-radius: 30px 30px;
  }

  .uploader__button-submit--margins {
    margin-right: 44px;
  }

  .uploader__list-item:nth-of-type(1) .uploader__toddle {
    left: 24.5%;
  }

  .uploader__list-item:nth-of-type(2) .uploader__toddle {
    left: 86%;
  }

  .uploader__list-item:nth-of-type(3) .uploader__toddle {
    left: 55.5%;
  }
}

.uploader__range:active::after {
  background-color: $pink-color;
}
