.uploader {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  background-color: #f2f2f2;
  // временно
  height: 905px;
  margin-top: 49px;
}

.uploader__slogan {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $darkblue-color;
}

.uploader__button-submit {
  color: $pink-color;
  border: 3px solid $pink-color;
}

.uploader__button-reset {
  color: $darkblue-color;
  border: 3px solid $darkblue-color;
  opacity: 0.1;
}

// СТИЛИ ДЛЯ ПЛАНШЕТА

@media (min-width: $tablet-width) {
  .uploader {
    // временно
    max-width: 660px;
    height: 713px;
  }
}

// СТИЛИ ДЛЯ ДЕСКТОПА

@media (min-width: $desktop-width) {
  .uploader {
    // временно
    max-width: 940px;
    height: 404px;
  }
}
