@import 'page-header.scss';
@import 'main-nav.scss';
@import 'app-download.scss';
@import 'preferences.scss';
@import 'photos.scss';
@import 'comment-wrapper.scss';
@import 'page-footer.scss';
@import 'footer-socials.scss';
@import 'footer-copyright.scss';
@import 'page-main.scss';

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Opensans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}
