
// цвета текста
$white-color: #ffffff;
$darkblue-color: #283645;
$pink-color: #d22856;

// планшетная ширина
$tablet-width: 660px;
// десктопная ширина
$desktop-width: 1200px;

// ретиновые медиа
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
